[submodule "bash-completion"]
	path = bash-completion
	url = git://git.debian.org/git/bash-completion/bash-completion.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
