[Desktop Entry]
Version=1.0
Name=Google Chrome
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[ja]=ウェブブラウザ
Comment=Access the Internet
Comment[ja]=インターネットにアクセス
Exec=env LANG=ja_JP.UTF-8 /usr/bin/google-chrome-stable %U
Terminal=false
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito;NewWindowWithLocalFileAccess

[NewWindow Shortcut Group]
Name=New Window
Name[ja]=新規ウインドウ
Exec=env LANG=ja_JP.UTF-8 /usr/bin/google-chrome-stable
TargetEnvironment=Unity

[NewIncognito Shortcut Group]
Name=New Incognito Window
Name[ja]=新しいシークレット ウィンドウ
Exec=env LANG=ja_JP.UTF-8 /usr/bin/google-chrome-stable --incognito
TargetEnvironment=Unity

[NewWindowWithLocalFileAccess Shortcut Group]
Name=New Window with Local File Access
Name[ja]=新しいウィンドウ（ローカルファイルアクセス許可）
Exec=env LANG=ja_JP.UTF-8 /usr/bin/google-chrome-stable --allow-file-access-from-files
TargetEnvironment=Unity
